body {
    font-family: Arial;
    padding: 20px;
    background: #43435e;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
